@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
:root {font-family: 'Montserrat', sans-serif;
}
body {
    max-width: 1280px;
    margin:auto;
    height:auto;
}
header {
    background-image: url(../img/background-start.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: auto;
}
nav {
    margin:10px;
    padding:10px;
}
.menu {
    margin:auto;
}
.menu a {
    display:block;
    margin:5px;
    padding: auto;
    font-size:15px;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.menu a:hover {
    color:#7e2b02;
}
@media (min-width: 700px) {
    header nav {
        display: flex;
    }
    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
    }
}
.logo img {
 width: 135px;
 height: 83px;
}
.social {
    width: 135px;
    height: 45px;
    padding: 15px 0 0 0 ; 
    width: auto;
}
.social a {
    margin: 5px;
    padding: 5px;
}
.phone {
    font-size: 17px;
    font-weight: bold;
    color:#642709;
}
main {
    padding-top: 180px;
}
.intro {
    display:block;
    font-size: 20px;
    color:#ffffff;
    width: 1200px;
    height:auto;
    margin: 30px 15px 0px;
}
h1 h2 {
    display: block;
    max-width: auto;
    min-width:auto;
    height: auto;
    margin: 26.8px 0px;
}
.line {
    color: orange;
}
.years {
    width: 728px;
    height: 53px;
    font-size: 19px;
    font-weight: bold;
}
.buttons {   
    width: 384px;
    height: 75.2px;
    margin: 20px;
    padding: 10px;
}
.call-us {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    width: 213px;
    height: 55px;
    background-color:#dc855b;
    border-style: none;
    border-radius: 5px;
}
.gallery {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    width: 130px;
    height: 55px;
    background-color:#dc855b;
    border-style: none;
    text-transform: uppercase;
    margin-left: 30px;
    border-radius: 5px;
}
.call-us:hover {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    width: 213px;
    height: 55px;
    background-color:#7e2b02;
    border-style: none;
}
.gallery:hover {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    width: 130px;
    height: 55px;
    background-color:#7e2b02;
    border-style: none;
    text-transform: uppercase;
}
.social a {
    text-decoration: none;
}

/* .about-us {
    height: 512px;
    margin: 30px;
}
.yellow-kit{
    display: inline-block;
    width: 570px;
    height: 482px;
    margin-top: 120px;
}
.yellow-kitchen{
    width: 225px;
    height: 88px;
    font-size: 60px;
    color: #7e2b02;
} */

